@model IEnumerable<FacturationWebSite.Models.InvoiceLine>

@{
    ViewData["Title"] = "Liste";
}

<h2>Liste</h2>

<p>
    <a asp-action="Create" class="btn btn-success fa fa-plus"></a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.Ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                <a class="btn btn-warning fa fa-edit" asp-action="Edit"asp-route-id="@item.InvoiceLineId"></a> |
                <a class="btn btn-info fa fa-plus-square" asp-action="Details"asp-route-id="@item.InvoiceLineId"></a> |
                <a class="btn btn-danger fa fa-trash" asp-action="Delete"asp-route-id="@item.InvoiceLineId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
