@model IEnumerable<FacturationWebSite.Models.InvoiceLine>

@{
    ViewData["Title"] = "Liste";
}

<h2>Liste</h2>

<p>
    <a asp-action="Create" class="btn btn-secondary">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoice.InvoiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvoiceLineId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.InvoiceLineId">D&eacute;tail</a> |
                <a asp-action="Delete" asp-route-id="@item.InvoiceLineId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
