@model IEnumerable<FacturationWebSite.Models.CustomerPrice>

@{
    ViewData["Title"] = "Prix spécifiques par clients";
}

<h2>Prix spécifiques par clients</h2>

<p>
    <a asp-action="Create" class="btn btn-secondary">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerPriceId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerPriceId">D&eacute;tail</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerPriceId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
