@model FacturationWebSite.Models.Barcode

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Barcode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary fa fa-edit" asp-route-id="@Model.BarcodeId"></a> |
    <a asp-action="Index" class="btn btn-secondary">Retour</a>
</div>
