@model IEnumerable<FacturationWebSite.Models.Customer>

@{
    ViewData["Title"] = "Clients";
}

<h2>Clients</h2>

<p>
    <a asp-action="Create" class="btn btn-success fa fa-plus"></a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.zipcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                <a class="btn btn-warning fa fa-edit" asp-action="Edit" asp-route-id="@item.CustomerId"></a> |
                <a class="btn btn-info fa fa-eye" asp-action="Details" asp-route-id="@item.CustomerId"></a> |
                <a class="btn btn-danger fa fa-trash" asp-action="Delete" asp-route-id="@item.CustomerId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
