@model IEnumerable<FacturationWebSite.Models.Product>

@{
    ViewData["Title"] = "Liste";
}

<h2>Liste</h2>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">D&eacute;tail</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
