@model FacturationWebSite.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ref)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ref)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartPeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndPeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndPeriod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary fa fa-edit" asp-route-id="@Model.InvoiceId"></a> |
    <a class="btn btn-secondary fa fa-arrow-circle-left" asp-action="Index">Retour</a>
</div>
