@model IEnumerable<FacturationWebSite.Models.Invoice>

@{
    ViewData["Title"] = "Factures";
}

<h2>Factures</h2>

<p>
    <a asp-action="Create" class="btn btn-success fa fa-plus"></a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ref)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ref)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndPeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerId)
            </td>
            <td>
                <a class="btn btn-warning fa fa-edit" asp-action="Edit" asp-route-id="@item.InvoiceId"></a> |
                <a class="btn btn-info fa fa-eye" asp-action="Details" asp-route-id="@item.InvoiceId"></a> |
                <a class="btn btn-danger fa fa-trash" asp-action="Delete" asp-route-id="@item.InvoiceId"></a>
            </td>
        </tr>
}
    </tbody>
</table>
