@model FacturationWebSite.Models.InvoiceViewModel

<link rel="stylesheet" href="/css/invoice.css" />
<div id="invoice-template" class="card-body">
	<div class="container">
		<div class="top">
			<div class="header">
				<h1>FACTURE<strong> @Html.DisplayFor(model => model.Invoice.Ref)</strong></h1>
				<p>@DateTime.Now.ToString("D")</p>
				<p>Paiement attendu pour @DateTime.Now.ToString("D")</p>
			</div>
			<div class="panelCompany">
				<div class="title">
					Entreprise
				</div>
				<div class="content">
					<p><strong>Martine PIOVESAN</strong></p>
					<p>
						04 rue Gicquel<br />
						35580 GUIGNEN<br />
						02 99 92 25 79
					</p>
				</div>
			</div>
			<div class="panelCustomer">
				<div class="title">
					Client
				</div>
				<div class="content">
					<p><strong>@Html.DisplayFor(model => model.Invoice.Customer.Name)</strong></p>
					<p>
						@Html.DisplayFor(model => model.Invoice.Customer.address)<br />
						@Html.DisplayFor(model => model.Invoice.Customer.zipcode) @Html.DisplayFor(model => model.Invoice.Customer.city)
					</p>
				</div>
			</div>
		</div>
		<div class="tableSection">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr class="tableHead">
						<th>Libell&eacute;</th>
						<th style="width:30px;" class="text-md-right">Quantit&eacute;</th>
						<th style="width:100px;" class="text-md-right">Prix unitaire</th>
						<th style="width:100px;" class="text-md-right">TOTAL</th>
					</tr>
				</thead>
				<tbody>
					@{
						var lastDeliveryId = 0;

						foreach (var invoiceLine in Model.InvoiceLines)
						{

							if (invoiceLine.DeliveryId != lastDeliveryId)
							{
								<tr>
									<th colspan="4" class="delivery">Livraison du @invoiceLine.Delivery.Date.ToString("D")</th>
								</tr>
								lastDeliveryId = invoiceLine.DeliveryId;
							}
							Double total = (invoiceLine.Price * invoiceLine.Quantity);
							<tr class="InvoiceLine read" data_InvoiceLineId="@invoiceLine.InvoiceLineId">
								<td>@invoiceLine.Description</td>
								<td style="text-align:right">
								<span class="readMode data_invoiceLineQuantity">@invoiceLine.Quantity</span>
								<span class="modificationMode">
									<input type="number" min="0" class="data_invoiceLineQuantityModification" data_InvoiceLineId="@invoiceLine.InvoiceLineId" value="@invoiceLine.Quantity"/>
								</span></td>
								<td style="text-align:right"  class="data_invoiceLinePrice" data_price="@invoiceLine.Price">@invoiceLine.Price.ToString("C")</td>
								<td style="text-align:right" class="data_invoiceLineTotal" data_total="@total">@total.ToString("C")</td>

							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div class="bottom">
			<div class="Sectionleft">
				<p><i>Notes</i></p>
				<span><i>bla bla bla</i></span>
			</div>
			<div class="panelTotal">
				<div class="lastPanel">
					TOTAL D&Ucirc;
				</div>
				<hr style="clear:both" />
				<div class="lastFooter">
					<div class="panelLastLeft">
						<p>
							Sous-Total<br />
							Remise<br />
							<strong>TOTAL</strong>
						</p>
					</div>
					<div class="panelLastRight">
						<p>
							<span class="subtotal">@Model.Subtotal.ToString("C")</span><br />
							@Model.Discount.ToString("C")<br />
							<strong><span class="total">@Model.Total.ToString("C")</span></strong>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>