@model FacturationWebSite.Models.InvoiceViewModel

<link rel="stylesheet" href="/css/invoice.css" />
<div id="invoice-template" class="card-body">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 header">
				<h1>FACTURE<strong> @Html.DisplayFor(model => model.Invoice.Ref)</strong></h1>
				<p>@DateTime.Now.ToString("D")</p>
				<p>Paiement attendu pour @DateTime.Now.ToString("D")</p>
			</div>
			<div class="col-md-12 col-sm-12 panelPart">
				<div class="row">
					<div class="col-md-6 col-sm-6 panelPart">
						<div class="panel panel-default">
							<div class="panel-body">
								Entreprise
							</div>
							<div class="panel-footer">
								<p><strong>Martine PIOVESAN</strong></p>
								<p>
									04 rue Gicquel<br />
									35580 GUIGNEN<br />
									02 99 92 25 79
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 panelPart">
						<div class="panel panel-default">
							<div class="panel-body">
								Client
							</div>
							<div class="panel-footer">
								<p><strong>@Html.DisplayFor(model => model.Invoice.Customer.Name)</strong></p>
								<p>
									@Html.DisplayFor(model => model.Invoice.Customer.address)<br />
									@Html.DisplayFor(model => model.Invoice.Customer.zipcode) @Html.DisplayFor(model => model.Invoice.Customer.city)
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 tableSection">
				<table class="table text-center">
					<thead>
						<tr class="tableHead">
							<th>Libell&eacute;</th>
							<th style="width:30px;" class="text-md-right">Quantit&eacute;</th>
							<th style="width:100px;" class="text-md-right">Prix unitaire</th>
							<th style="width:100px;" class="text-md-right">TOTAL</th>
						</tr>
					</thead>
					<tbody>
						@{
							var lastDeliveryId = 0;

							foreach (var invoiceLine in Model.InvoiceLines)
							{

								if (invoiceLine.DeliveryId != lastDeliveryId)
								{
							<tr>
								<th colspan="4" class="delivery">Livraison du @invoiceLine.Delivery.Date.ToString("D")</th>
							</tr>
									lastDeliveryId = invoiceLine.DeliveryId;
								}
								Double total = (invoiceLine.Price * invoiceLine.Quantity);
							<tr>
								<td>@invoiceLine.Description</td>
								<td class="text-md-right">@invoiceLine.Quantity</td>
								<td class="text-md-right">@invoiceLine.Price.ToString("C")</td>
								<td class="text-md-right">@total.ToString("C")</td>
							</tr>
							}
						}
					</tbody>
				</table>
			</div>
			<div class="col-md-12 col-sm-12 lastSectionleft ">
				<div class="row">
					<div class="col-md-7 col-sm-6 Sectionleft">
						<p><i>Notes</i></p>
						<span><i>bla bla bla</i></span>
					</div>
					<div class="col-md-5 col-sm-6">
						<div class="panel panel-default">
							<div class="panel-body lastPanel">
								TOTAL D&Ucirc;
							</div>
							<div class="panel-footer lastFooter">
								<div class="row">
									<div class="col-md-7 col-sm-6 col-xs-6 panelLastLeft">
										<p>
											Sous-Total<br />
											Remise<br />
											<strong>TOTAL</strong>
										</p>
									</div>
									<div class="col-md-5 col-sm-6 col-xs-6 panelLastRight text-md-right">
										<p>
											@Model.Subtotal.ToString("C")<br />
											@Model.Discount.ToString("C")<br />
											<strong>@Model.Total.ToString("C")</strong>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>